body {
  font-size: 16px;
}

h1 {
  font-size: 65px;
  color: orange;
  font-family: sans-serif;
  text-align: center;
  line-height: 2;
}

#Cores {
  color: yellow;
  }

.fundo-lista {
  background-color: blue;
  font-size: 30px;
  line-height: 2cm;
  text-align: left;
  text-decoration: line-through;
}

p {
  font-weight: 600;
  font-size: 3em;
}

#amarelo {
  background-color: yellow;
}

#vermelho {
  background-color: red;
}

#marrom {
  background-color:brown
}